.slider {
	margin-right: 25px;
}

.slider-selection {
	background: #BABABA;
}

.slider-handle {
	background: #858585;
}

.file-input-hidden {
    visibility: hidden;
    width:0px;
    height:0px
}

.fixed-width-btn {
    width: 90px;
}

.fixed-width-lg-btn {
    width: 140px;
}

/* Add responsive classes for text align */
.text-xs-left-not, .text-sm-left-not, .text-md-left-not, .text-lg-left-not {
    text-align: left;
}
.text-xs-center-not, .text-sm-center-not, .text-md-center-not, .text-lg-center-not {
    text-align: center;
}
.text-xs-right-not, .text-sm-right-not, .text-md-right-not, .text-lg-right-not {
    text-align: right;
}
.text-xs-justify-not, .text-sm-justify-not, .text-md-justify-not, .text-lg-justify-not {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-xs-left-not, .text-xs-center-not, .text-xs-right-not, .text-xs-justify-not {
        text-align: inherit;
    }
    .text-xs-left {
        text-align: left;
    }
    .text-xs-center {
        text-align: center;
    }
    .text-xs-right {
        text-align: right;
    }
    .text-xs-justify {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left-not, .text-sm-center-not, .text-sm-right-not, .text-sm-justify-not {
        text-align: inherit;
    }
    .text-sm-left {
        text-align: left;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left-not, .text-md-center-not, .text-md-right-not, .text-md-justify-not {
        text-align: inherit;
    }
    .text-md-left {
        text-align: left;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left-not, .text-lg-center-not, .text-lg-right-not, .text-lg-justify-not {
        text-align: inherit;
    }
    .text-lg-left {
        text-align: left;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-justify {
        text-align: justify;
    }
}
