/* Classes for special numeric input. */
.numeric-input {
    margin-right: 10px;
    max-width: 200px;
}

.numeric-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    margin-bottom: 5px;
}

/* Classes for controls. */
.buttons-container {
    margin-bottom: 5px;
}

.controls-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-start;
}

@media (max-width: 1200px) {
    .controls-container {
        justify-content: center;
    }

    .numeric-input-container {
        justify-content: center;
        text-align: center;
    }

    .buttons-container {
        text-align: center;
    }

    .numeric-input {
        margin-right: 0px;
    }
}

/* Classes for tables. */
.table-container {
    display: block;
    overflow: auto;
    max-height: 400px;
}

.table-container td {
    font-weight: normal;
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.no-results-row td {
    text-align: center;
}

.file-input-hidden {
    visibility: hidden;
    width:0px;
    height:0px
}

.fixed-width-btn {
    width: 90px;
}

.fixed-width-lg-btn {
    width: 140px;
}
